<!DOCTYPE html>
<html>
  <head>
    <title>Clipper App | <%= @title %></title>
  </head>
  <body>
    <h1>Clipper</h1>
    <p>
       <a href="http://lemonbag.com/">We</a>
       are Bangalore based company
    </p>
  </body>
</html>


