    <h1>About Us</h1>
    <p>
      <a href="http://lemonbag.com">Clipper App</a>
      is a project to allow semaless data transfer on various types of devices
      using <a href="http://lemonbag.com">cloud</a>. 
    </p>

