    <h1>Clipper App</h1>
    <p>
        <%= link_to "Contact", :controller => 'pages', :action =>'contact' %>
        <%= link_to "About", :controller => 'pages', :action =>'about' %>
        <%= link_to "Help", :controller => 'pages', :action =>'help' %>
    </p>

